<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @user.name %> here's your temporary password</h1>
    <p>
      Please use this password <b><%= @pass %></b> in order to reset your user access at OpenEscalar. Keep in mind that this password will be valid for the next 24 hours. If you don't reset your password within that time you will have to request a new reset password.<br/>
    </p>
    <p>
      To reset your password on the site, just follow this link: <%= link_to @url, @url %>
    </p>
    <p>Thanks for using OpenEscalar and have a great day!</p>
  </body>
</html>
