<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to openescalar.com, <%= @user.name %></h1>
    <p>
      You have successfully signed up to openescalar.com<br>
      Username is: <%= @user.username %>.<br/>
      Password is: <%= @pass %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= link_to "Openescalar", @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
