<h1>Role Tasks</h1>

<%= render 'roletasks/mainindex' %>

<%= link_to 'New', new_roletask_path, :class => 'btn btn-primary' %>
<%= render :partial => 'paginate', :locals => {:total => @roletasks.size, :page => @page, :objres => "roletasks" } %>

