<h1><%=t :servers %></h1>

<%= render 'servers/mainindex' %>


<%= link_to t(:new), new_server_path, :class => 'btn btn-primary' %>
<%= render :partial => 'paginate', :locals => {:total => @servers.size, :page => @page, :objres => "servers" } %>

