<div class="accordion" id="accordionbill">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionbill" href="#collapsebill">
        <%=t :billing %>
      </a>
    </div>
    <div id="collapsebill" class="accordion-body collapse in">
      <div id="billchart1" class="accordion-inner">
	<% if @oeaccount.zones.size > 0 -%>
        <%= render 'home/billchart.js' %>
	<% end -%>
      </div>
    </div>
  </div>
</div>
