<div class="accordion" id="accordionstats">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionrstats" href="#collapsestats">
        Stats
      </a>
    </div>
    <div id="collapsestats" class="accordion-body collapse in">
      <div class="accordion-inner">
	<% if @oeaccount.zones.size > 0 -%>
	<%= render 'home/statchart.js' %>
        <div id="serverofferchart">
        </div>
        <div id="serverstat2">
        </div>
	<% end -%>
      </div>
    </div>
  </div>
</div>
