<div class="accordion" id="accordionusers">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionusers" href="#collapseusers">
        <%=t :account %>
      </a>
    </div>
    <div id="collapseusers" class="accordion-body collapse in">
      <div class="accordion-inner">
<% @oeuser.accounts.each do |u| %>
<%= u.name %><br>
<% end %>
      </div>
    </div>
  </div>
</div>
