<h1>Firewalls</h1>

<%= render 'firewalls/mainindex' %>

<%= link_to 'New', new_firewall_path, :class => 'btn btn-primary' %>  
<%= render :partial => 'paginate', :locals => {:total => @firewalls.size, :page => @page, :objres => "firewalls" } %>
