  <% if azonebyzone.nil? %>
  <div class = "control-group" >
  </div>
  <% else %>
    <div class="control-group">
      <%= label :azone_id, t(:subzone), :class => 'control-label' %>
      <div class="controls">
        <%= select("volume", "azone_id", azonebyzone.collect{ |p| [p.name, p.id]}, {:prompt => t(:select) }) %>
      </div>
    </div>
  <% end %>

