<h1><%=t :volumes %></h1>

<%= render 'volumes/mainindex' %>

<%= link_to t(:new), new_volume_path, :class => 'btn btn-primary' %>
<%= render :partial => 'paginate', :locals => {:total => @volumes.size, :page => @page, :objres => "volumes" } %>

