<h1>Offers</h1>

<%= render 'offers/mainindex' %>

<%= link_to 'New', new_offer_path, :class => 'btn btn-primary' %>
<%= render :partial => 'paginate', :locals => {:total => @offers.size, :page => @page, :objres => "offers" } %>

