<h1><%=t :roles %></h1>

<%= render 'roles/mainindex' %> 

<%= link_to t(:new), new_role_path, :class => 'btn btn-primary' %>
<%= render :partial => 'paginate', :locals => {:total => @roles.size, :page => @page, :objres => "roles" } %>

