<h1><%=t :keypairs %></h1>

<%= render 'keypairs/mainindex' %>

<br />

<%= link_to t(:new), new_keypair_path, :class => 'btn btn-primary' %>
<%= render :partial => 'paginate', :locals => {:total => @keypairs.size, :page => @page, :objres => "keypairs" } %>

