<h1><%=t :images %></h1>

<%= render 'images/mainindex' %>

<%= link_to t(:new), new_image_path, :class => 'btn btn-primary' %>
<%= render :partial => 'paginate', :locals => {:total => @images.size, :page => @page, :objres => "images" } %>

